Repository codinasion/codinasion-dsa, pull requests merged in 2022-07, with the labels that each got.

#13 V4
  .github/ISSUE_TEMPLATE/add-programme.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/improve-existing-content.yml
  .github/ISSUE_TEMPLATE/other.yml
  .github/ISSUE_TEMPLATE/task-tracking.yml
  .github/config.yml
  .github/workflows/60-days-stale-check.yml
  .github/workflows/pr-merge-comment.yml
  .github/workflows/pr-open-comment.yml
  CONTRIBUTING.md
  README.md
  contributing/types-of-contributions.md
  programme/linear-search/LinearSearch.java
  programme/linear-search/README.md
  programme/linear-search/linear-search.c
Labels: documentation, enhancement, v4

#12 [ 🚧 WIP ] Added GO program for Linear Search
  programme/linear-search/README.md
  programme/linear-search/linear-search.go
Labels: GO, programme

#14 [ 🚧 WIP ] Added a C# programme for Linear Search
  programme/linear-search/LinearSearch.cs
  programme/linear-search/README.md
Labels: C#, programme

#15 [ 🚧 WIP ] #5 python and javascript linear search
  programme/linear-search/README.md
  programme/linear-search/linear-search.js
  programme/linear-search/linear-search.py
Labels: Python, JavaScript, programme

#16 [ 🚧 WIP ] added linear-search.cpp
  programme/linear-search/README.md
  programme/linear-search/linear-search.cpp
Labels: C++, programme

#18 [ 🚧 WIP ] Paolofer new algorithm validate-palindrome
  programme/validate-palindrome/README.md
  programme/validate-palindrome/validate-palindrome.js
  programme/validate-palindrome/validate-palindrome.png
  programme/validate-palindrome/validate-palindrome.py
Labels: Python, JavaScript, programme

#43 [ 🚧 WIP ] Create validate-palindrome.go
  programme/validate-palindrome/README.md
  programme/validate-palindrome/validate-palindrome.go
Labels: GO, programme

#46 [ 🚧 WIP ] Added Binary Tree method with README documentation. Also added .idea …
  .gitignore
  codinasion-dsa.iml
  programme/binary-search/README.md
  programme/binary-search/binary-search.java
  programme/binary-search/imgs/binary-search-java.jpg
Labels: Java, programme

#45 [ 🚧 WIP ] Validate palindrome created for c++.
  programme/validate-palindrome/README.md
  programme/validate-palindrome/validate-palindrome.cpp
Labels: C++, programme

#48 [ 🚧 WIP ] Update validate-palindrome.cs
  programme/validate-palindrome/README.md
  programme/validate-palindrome/validate-palindrome.cs
Labels: C#, programme

#49 [ 🚧 WIP ] Binary search python
  programme/binary-search/README.md
  programme/binary-search/binary-search.py
Labels: Python, programme

#44 [ 🚧 WIP ] Create binary-search.go
  programme/binary-search/README.md
  programme/binary-search/binary-search.go
Labels: GO, programme

#51 [ 🚧 WIP ] Binary Search in C#
  programme/binary-search/Program.cs
  programme/binary-search/README.md
Labels: C#, programme

#52 [ 🚧 WIP ] added validate-palindrome.rs
  programme/validate-palindrome/README.md
  programme/validate-palindrome/validate-palindrome.rs
Labels: programme, Rust

#54 [ 🚧 WIP ] binary search in cpp
  programme/binary-search/README.md
  programme/binary-search/binary-search.cpp
Labels: C++, programme

#53 implemented binary search in javascript. issue #26
  programme/binary-search/README.md
  programme/binary-search/binary-search.js
Labels: JavaScript, programme, triage

#55 [ 🚧 WIP ] Added C code for validatePalindrome
  programme/validate-palindrome/README.md
  programme/validate-palindrome/validate-palindrome.c
Labels: C, programme

#57 [ 🚧 WIP ] C binary search
  programme/binary-search/README.md
  programme/binary-search/binary-search.c
Labels: C, programme

#67 [ 🚧 WIP ] feat: add linear search rust programme
  programme/linear-search/README.md
  programme/linear-search/linear-search.rs
Labels: programme, Rust

#69 [ 🚧 WIP ] add linear search algorithm with rust
  programme/linear-search/README.md
Labels: programme, Rust

#136 [ 🚧 WIP ] Implemented Linear Search in php
  programme/linear-search/README.md
  programme/linear-search/linear-search.php
Labels: programme, PHP

#138 [ 🚧 WIP ] Add Quick Sort Program in C
  programme/quick-sort/README.md
  programme/quick-sort/quick-sort.c
Labels: C, programme

#139 [ 🚧 WIP ] add python programme for selection sort
  programme/selection-sort/README.md
  programme/selection-sort/selection-sort.png
  programme/selection-sort/selection-sort.py
Labels: Python, programme

#140 [ 🚧 WIP ] Added selection sort for java.
  .gitignore
  programme/selection-sort/README.md
  programme/selection-sort/SelectionSort.java
Labels: Java, programme

#141 [ 🚧 WIP ] added python bubble sort
  programme/bubble-sort/BubbleSort.py
  programme/bubble-sort/README.md
Labels: Python, programme

#149 Added quick-sort.cpp
  programme/quick-sort/README.md
  programme/quick-sort/quick-sort.cpp
Labels: C++, programme, triage

#143 [ 🚧 WIP ] add js programme for selection sort
  programme/selection-sort/selection-sort.js
Labels: JavaScript, programme

#144 Added Quick Sort Algorithm in cpp
  programme/quick-sort/README.md
Labels: triage

#146 [ 🚧 WIP ] Implemented Quick Sort in cpp
  programme/quick-sort/README.md
  programme/quick-sort/quick-sort.cpp
Labels: C++, programme

#145 [ 🚧 WIP ] Implemented Quick Sort in Java
  programme/quick-sort/QuickSort.java
  programme/quick-sort/README.md
Labels: Java, programme
